<div class="centered">
<%= form_tag "/predictions", method:'get' do %>
<%= text_field_tag :username, nil, placeholder: "Type your username" %>
</br>
<%= submit_tag "Create (or load if available)" %>
<% end %>
</div>