<body class = "background centered">
	<% if user_signed_in? %>
	  <h2>Hello, <%= current_user.username %>!</h2>    
	<% end %>
	</br>

	<%= link_to('Your predictions', '/predictions?week=1') %>
	</br>
	Compare (not implemented yet)
</body>