/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.background {
	background-color: LightSkyBlue;
}

.centered {
	text-align: center;	
}

.style_image {
	opacity: 1.0;
	border-bottom: 2px solid transparent;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-auto-rows: auto;
	grid-column-gap: 2px;
	grid-row-gap: 25px;
	align-items: center;
}

.box {
	border: 2px solid green;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: auto;
	grid-column-gap: 2px;
	grid-row-gap: 25px;
	align-items: center;	
}

.form_css {
	text-align: center;
}

.brq {
   	line-height: 200%;
}

.grid2 {
  display: grid;
  grid-template-columns: 2% 30% 5% 26% 7% 30%;
  grid-template-rows: 500px;
}

.left {
  grid-column-start: 2;
  //background-color: #4763ff;
}
.middle {
  grid-column-start: 4;
  //background-color: #ffcb47;
}
.right {
  grid-column-start: 6;
  //background-color: #f347ff;
}